* {
        margin: 0;
        padding: 0;
    }
    
body
    {
        background-color:white;
        line-height:1.5;
        width:100%;
        height: 100%;
        word-wrap: break-word;
    }

input, textarea
{
    border: 1px solid lightgray;
}

#content 
    {
        position:relative;
        display: block;        
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        width: 500px;
    }

.o span 
    {
        font-family: "Cambria";	
        color: red;
        display:inline;
        cursor:pointer;
        text-align: left;
        font-size: 16pt;	
    }

.o p 
    {        
        display:inline;
        cursor:pointer;        
    }

.o div 
    {
        margin-left: 1.5cm;
        text-align: left;        
		font-family: "Cambria";
        font-size: 14pt;	
        color: red;
    }

body h1 
    {
        text-align: center;
        font-family: "Buxton Sketch";
        font-size: 26pt;
        font-style:italic;
        font-variant:normal;
        font-weight:normal;
        font-stretch:normal;
        width:7cm;
        margin-left:auto;
        margin-right:auto;
		color: red;
        cursor:pointer;
        display:block;
    }

#pm,#back,#forward
{
        font-variant:normal;
        font-weight:normal;
        font-stretch:normal;
        color: red;
        cursor:pointer;        
        text-align: center;        
        font-size: 26pt;
        display:inline;
}

header{
    text-align:center;
    cursor:default;
}

#m
    {       
        width:3cm;       
        text-align:center;  
        font-family: "Candara";
        font-size: xx-small;
        display:block;
        color:lightgray;        
        text-decoration: none;
        margin-left:auto;
        margin-right:auto;     
    }

.n center a
    {
        font-family: "Segoe UI Symbol";
        cursor:pointer;
        font-size: 26pt;
        text-align:center;
        width:0.5cm;
        margin-left:auto;
        margin-right:auto;
        color:red;      
        font-weight:bolder;  
        font-stretch:ultra-expanded;
        text-decoration: none;
    }

.n p 
    {
        display:inline;
        cursor:pointer;
        text-align: left;        
		font-family: "Candara";
        font-size: 14pt;	
        color: red;
    }

.l a
    {
        color: red;
        display:inline;
        cursor:pointer;
        text-align: left;
        font-family: "Candara";
        font-size: 14pt;	
    }
#logon a, #registration a
{
    color: red;
        display:inline;
        cursor:pointer;
        text-align: center;
        font-family: "Candara";
        font-size: 14pt;	        
}
#logon img, #registration img
{
   display:inline;
}

.l span
    {
        color: red;
        display:inline;
        cursor:pointer;
        text-align: left;
        font-family: "Candara";
        font-size: 14pt;	
    }

.l input
    {
        width:150px;
        height:30px;
        font-family:"Candara";
        font-size:14pt;
    }
#logon input, #registration input
 {
        width:150px;
        height:30px;
        font-family:"Candara";
        font-size:14pt;
        margin-left:auto;
        margin-right:auto;
        display:inline;
    }

.l p
    {
        font-family: "Candara";
        font-size: 14pt;	
        text-align:justify;
        text-indent: 1.5cm;        
        color:black;        
    }

center.l div, #msg, #registration div
    {
        font-family: "Candara";
        font-size: 14pt;	
        text-align:justify;
        text-indent: 1.5cm;        
        color:black;        
    }

.l center a, #arrows a
    {
        font-family: "Segoe UI Symbol";
        cursor:pointer;
        font-size: 26pt;
        width:0.5cm;
        margin-left:auto;
        margin-right:auto;
        color:red;      
        font-weight:bolder;  
        font-stretch:ultra-expanded;
        text-decoration: none;
    }

body h2
    {
        text-align: left;
        font-family: "Cambria";
        font-size: 16pt;
        font-style:normal;
        font-variant:normal;
        font-weight:normal;
        font-stretch:normal;
        margin-left:0;
        margin-right:auto;
		color: red;
        cursor:pointer;
    }
.s 
    {
        display:none;
        color:white;
    }
#text{
    width:500px;
    height:80px;
    resize:vertical;
    font-family: "Candara";
    font-size: 14pt;	
    text-align:justify;
    text-indent: 1.5cm;        
    color:black; 
}
#send{
    color: red;
    display:inline;  
    font-family: "Candara";
    font-size: 14pt;	
    font-weight:normal;
    font-stretch:normal;
}
#startTopic {
    color: red;
    display:inline;  
    font-family: "Candara";
    font-size: 14pt;	
    font-weight:normal;
    font-stretch:normal;
    cursor:pointer;
}
#topic input {
    width:500px;
    height:30px;
    font-family: "Candara";
    font-size: 14pt;	
    text-align:justify;       
    color:black; 
}

#topic p {
    font-family: "Candara";
    font-size: 14pt;	
    text-align:justify;
    text-indent: 1.5cm;        
    color:black;
}
#topic span, #needauth{
    color: red;
    display: block;
    font-family: "Candara";
    font-size: 14pt;
    text-align:center;
    cursor:default;
}
#a span{
    color: red;
    display: block;
    font-family: "Candara";
    font-size: 14pt;
    cursor:default;
}
#topic a, #needauth a{
        cursor: pointer;
}
div#logon,div#registration, #arrows
{
    display:block;
    text-align:center;
}
