* {
        margin: 0;
        padding: 0;
    }
    
body
    {
        background-color:#FFFFFF;
        line-height:1.5;
        width:100%;
        height: 100%;
        word-wrap: break-word;
    }

input, textarea
{
    border: 1px solid #D3D3D3;
}

#o
    {
        position:relative;
        display: block;        
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        width: 500px;
    }

.o span 
    {
        font-family: "Cambria";	
        color: #FF0000;
        display:inline;
        cursor:pointer;
        text-align: left;
        font-size: 16pt;	
    }

.o p 
    {        
        display:inline;
        cursor:pointer;        
    }

.o div 
    {
        margin-left: 1.5cm;
        text-align: left;        
		font-family: "Cambria";
        font-size: 14pt;	
        color: #FF0000;
    }

body h1 
    {
        text-align: center;
        font-family: "Verdana";
        font-size: 26pt;
        font-style:italic;
        font-variant:normal;
        font-weight:normal;
        font-stretch:normal;
        width:7cm;
        margin-left:auto;
        margin-right:auto;
		color: #FF0000;
        cursor:pointer;
        display:block;
    }

.p
{
        font-variant:normal;
        font-weight:normal;
        font-stretch:normal;
        color: #FF0000;
        cursor:pointer;        
        text-align: center;        
        font-size: 26pt;
        display:inline;
}

header{
    text-align:center;
    cursor:default;
}

#m
    {       
        width:3cm;       
        text-align:center;  
        font-family: "Candara";
        font-size: xx-small;
        display:block;
        color:#D3D3D3;        
        text-decoration: none;
        margin-left:auto;
        margin-right:auto;     
    }

.n center a
    {
        font-family: "Segoe UI Symbol";
        cursor:pointer;
        font-size: 26pt;
        text-align:center;
        width:0.5cm;
        margin-left:auto;
        margin-right:auto;
        color:#FF0000;      
        font-weight:bolder;  
        font-stretch:ultra-expanded;
        text-decoration: none;
    }

.n p 
    {
        display:inline;
        cursor:pointer;
        text-align: left;        
		font-family: "Candara";
        font-size: 14pt;	
        color: #FF0000;
    }

.l a
    {
        color: #FF0000;
        display:inline;
        cursor:pointer;
        text-align: left;
        font-family: "Candara";
        font-size: 14pt;	
    }
#g a, #r a
{
    color: #FF0000;
        display:inline;
        cursor:pointer;
        text-align: center;
        font-family: "Candara";
        font-size: 14pt;	        
}
#g img, #r img
{
   display:inline;
}

.l span
    {
        color: #FF0000;
        display:inline;
        cursor:pointer;
        text-align: left;
        font-family: "Candara";
        font-size: 14pt;	
    }

.l input
    {
        width:150px;
        height:30px;
        font-family:"Candara";
        font-size:14pt;
    }
#g input, #r input
 {
        width:150px;
        height:30px;
        font-family:"Candara";
        font-size:14pt;
        margin-left:auto;
        margin-right:auto;
        display:inline;
    }

.l p
    {
        font-family: "Candara";
        font-size: 14pt;	
        text-align:justify;
        text-indent: 1.5cm;        
        color:#000000;        
    }

center.l div, #c, #r div
    {
        font-family: "Candara";
        font-size: 14pt;	
        text-align:justify;
        text-indent: 1.5cm;        
        color:#000000;        
    }

.l center a, #w a
    {
        font-family: "Segoe UI Symbol";
        cursor:pointer;
        font-size: 26pt;
        width:0.5cm;
        margin-left:auto;
        margin-right:auto;
        color:#FF0000;      
        font-weight:bolder;  
        font-stretch:ultra-expanded;
        text-decoration: none;
    }

body h2
    {
        text-align: left;
        font-family: "Cambria";
        font-size: 16pt;
        font-style:normal;
        font-variant:normal;
        font-weight:normal;
        font-stretch:normal;
        margin-left:0;
        margin-right:auto;
		color: #FF0000;
        cursor:pointer;
    }
.s 
    {
        display:none;
        color:#FFFFFF;
    }
#x{
    width:500px;
    height:80px;
    resize:vertical;
    font-family: "Candara";
    font-size: 14pt;	
    text-align:justify;
    text-indent: 1.5cm;        
    color:#000000; 
}

.x {
    width:500px;
    height:809px;
    border:0px;
}

#s{
    color: #FF0000;
    display:inline;  
    font-family: "Candara";
    font-size: 14pt;	
    font-weight:normal;
    font-stretch:normal;
}

#t input, #d input {
    width:500px;
    height:30px;
    font-family: "Candara";
    font-size: 14pt;	
    text-align:justify;       
    color:#000000; 
}

#t p, #d p {
    font-family: "Candara";
    font-size: 14pt;	
    text-align:justify;
    text-indent: 1.5cm;        
    color:#000000;
}
#t span, #d span, #n{
    color: #FF0000;
    display: block;
    font-family: "Candara";
    font-size: 14pt;
    text-align:center;
    cursor:default;
}
#a span{
    color: #FF0000;
    display: block;
    font-family: "Candara";
    font-size: 14pt;
    cursor:default;
}
#t a, #d a, #n a{
        cursor: pointer;
}
div#g,div#r, #w
{
    display:block;
    text-align:center;
}
