* {
    margin: 0;
    padding: 0;
    border: 0;
    white-space: normal;
}

body,
#o {
    height: 100%;
}

body {
    background-color: #FFFFFF;
    line-height: 1.5;
    width: 100%;
    word-wrap: break-word;
    font-family: "Candara";
}

input,
textarea {
    border: 1px solid #D3D3D3;
}

.o span,
.o div,
body h2 {
    font-family: "Cambria";
}

#o {
    position: relative;
}

.o div {
    margin-left: 5%;
}

body h1,
.p,
#w a {
    font-size: xx-large;
}

body h1,
.p,
body h2,
#s {
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
}

body h1 {
    font-family: "Verdana";
    font-style: italic;
    min-width: 250px;
}

.p {
    text-align: center;
}

header {
    text-align: center;
    cursor: default;
}

#m {
    min-width: 3cm;
    color: #D3D3D3;
    text-decoration: none;
}

.n p,
.l a,
.o div,
.l span,
body h2,
.o span {
    text-align: left;
}

#g a,
#r a {
    text-align: center;
}

.l input,
#g input,
#r input,
#t input,
#d input {
    min-width: 150px;
    min-height: 30px;
    height: 5%;
}

body h2 {
    font-style: normal;
    margin-left: 0;
    margin-right: auto;
}

body h2,
.o span {
    font-size: large;
}

.s {
    display: none !important;
    color: #FFFFFF !important;
}

#x {
    min-height: 80px;
    resize: vertical;
}

#r img {
    min-width: 150px;
}

.x {
    min-height: 809px;
    width: 80%;
}

#w a,
#g input,
#r input,
#m,
body h1,
#o {
    margin-left: auto;
    margin-right: auto;
}

#t p,
#d p,
#t input,
#d input,
#x,
#c,
#r div,
.l p {
    text-align: justify;
    color: #000000;
}

#t p,
#d p,
#c,
#r div,
.l p,
#x {
    text-indent: 5%;
}

#a span,
#t span,
#d span,
#n,
#s,
body h2,
#w a,
.l span,
#g a,
#r a,
.l a,
.n p,
body h1,
.o div,
.o span,
.p {
    color: #FF0000;
}

#a span,
#t span,
#d span,
#n {
    cursor: default;
}


#t a,
#d a,
#n a,
#t span,
#d span,
body h2,
#w a,
.l span,
#g a,
#r a,
.l a,
.o span,
.n p,
.p,
body h1,
.o p {
    cursor: pointer;
}

div#g,
div#r,
#w,
body h1,
#m {
    text-align: center;
}

div#g,
div#r,
#w,
body h1,
#m,
#a span,
#t span,
#d span,
#n,
#o {
    display: block;
}

.p,
#s,
#g input,
#r input,
.l span,
#g img,
#r img,
#g a,
#r a,
.l a,
.n p,
.o p,
.o span {
    display: inline;
}

#o,
#t input,
#d input,
.x,
#x {
    width: 60%;
    min-width: 450px;
}